
body {
    font-family: 'Montserrat', sans-serif;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;


    letter-spacing: -0.025em;

    color: #222222;
    }


.container{
  
    padding: 0;
    margin: 0 auto;
    max-width: 1920px;
    width: 1920px;
    font-size: 100%;
    height: 5250px;
    overflow-x: hidden;
    
}


.items{
    display: flex;
    justify-content: center;
    
    width: 90%;
    height: 600px;
    padding: 20px;
}

.block1 {
    width: 400px;
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #BC1A6E;
    border-radius: 20px;
    

}
.block2{
    width: 400px;
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #CC2D4A;
    border-radius: 20px;

}

.block3{
    width: 400px;
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #D93B30;
    border-radius: 20px;
}


.resort{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;

}

.camping{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;


}


.beach{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;


}





.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;


    letter-spacing: -0.025em;

    color: #222222;
}


.items2{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    
    
}



.items3{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    margin-top: 20px;
}   
   


