
body {
    font-family: 'Montserrat', sans-serif;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;


    letter-spacing: -0.025em;

    color: #222222;
    }


.container{
  
    padding: 0;
    margin: 0 auto;
    max-width: 1920px;
   
    font-size: 100%;
    height: 5250px;
    overflow-x: hidden;
    
}


.items{
    display: flex;
    justify-content: center;
    
    width: 90%;
    height: 600px;
    padding: 20px;
}



.items3{
    display: flex;
    justify-content: center;
    
    width: 90%;
    height: 600px;
    padding: 20px;
}


.block1 {
   
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #BC1A6E;
    border-radius: 20px;
    

}
.block2{
   
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #CC2D4A;
    border-radius: 20px;

}

.block3{
   
    height: 520px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background: #D93B30;
    border-radius: 20px;
}


.resort{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;
    margin-left: -150px;

    color: #FFFFFF;

}

.camping{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;
    margin-left: -150px;

    color: #FFFFFF;


}

.beach{
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;
    margin-left: -150px;

    color: #FFFFFF;


}

.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;


    letter-spacing: -0.025em;

    color: #222222;
}

.img1{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    margin-left: -330px;
    
    
}

.img2{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    margin-top: -638px;
    margin-left: 325px;
}

.img3{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    margin-left: -330px;
    margin-top: 20px;


}

.img4{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    padding: 20px;
    margin-left: 325px;
    margin-top: -638px;
}

.bridge{
   margin-top: -95px;
   margin-left: 40px;
   color: #FFFFFF;
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

}

.mountains{
    margin-top: -95px;
    margin-left: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;

}

.Paragliding{
    margin-top: -95px;
    margin-left: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;  

}

.air{
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;

    color: #FFFFFF;
    margin-top: -95px;
    margin-left: 40px;

}


.header3{


    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 59px;
    letter-spacing: -0.025em;
    color: #222222;
    
}

.body{
    width: 1770px;
    height: 510px;
    background: #F6F4FF;

}

.block4{
    width: 496px;
    height: 700px;
    margin-right: 100px;
    margin-top: -300px;
    

    background: #F1F1F1;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
}

.block5{
    background: #F1F1F1;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    width: 496px;
    height: 700px;
    margin-top: -300px;
    margin-left: 100px;

}


.block6{
    width: 502px;
    height: 700px;
    background: #A18CD1;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    margin-top: -300px;
    margin-left: 200px;
}

.basic{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.025em;
    color: #000000;

    margin-left: 30px;

    
}

.r, .f, .b, .c, .o{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.025em;

    color: #000000;

    margin-left: 60px;
    

}

.item-bottom{
    width: 368px;
    height: 86px;
    background: #3685FB;
    border-radius: 12px;
    margin-top: 300px ;
    margin-left: 20px;

}

.button{
    font-family: 'Montserrat';
    font-size: 26px;
    margin-left: 115px;
    margin-top: 20px;
    background-color: #3685FB;
    color: #F1F1F1;
    border: black;

}

.premium{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.025em;
    color: #000000;

}

.item-bottom2{
    width: 368px;
    height: 86px;
    background: #3685FB;
    border-radius: 12px;
    margin-top: 176px ;
    margin-left: 20px;

}

.vip{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    letter-spacing: -0.025em;

    color: #FFFFFF;


}

.item-bottom3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 15px;
    width: 382px;
    height: 86px;
    background: #FFFFFF;
    border-radius: 15px;

}

.button3{
    width: 142px;
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.025em;
    color: #3685FB;
    background-color: #FFFFFF;
    border: #F1F1F1;

}



@media screen and (max-width: 767px) {

    .container{
  
        padding: 0;
        margin: 0 auto;
        max-width: 1920px;
       
        
        
    }
    .items{
    
        
        width: 90%;
        height: 600px;
        padding: 20px;
    }

    .items3{
        
        width: 90%;
        height: 600px;
        padding: 20px;
    }

    .img1{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img2{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img3{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img4{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }


   
 
    
    
}


@media (max-width: 567px) {

    .container{
  
        padding: 0;
        margin: 0 auto;
        max-width: 1920px;
       
        
        
    }
    .items{
    
        
        width: 90%;
        height: 600px;
        padding: 20px;
    }

    .items3{
        
        width: 90%;
        height: 600px;
        padding: 20px;
    }

    .img1{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img2{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img3{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }
    .img4{
       
        width: 90%;
        height: 600px;
        padding: 20px;
        
        
        
    }

    
}